In [65]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import time

### NASA Mars news

In [66]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\Leha\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

In [67]:
mars_news_url = 'https://redplanetscience.com/'

In [68]:
browser.visit(mars_news_url)
time.sleep(2)

In [69]:
html = browser.html
soup = bs(html, 'html.parser')

news_title = soup.find('div', class_='content_title').text
news_p = soup.find('div', class_='article_teaser_body').text

In [70]:
news_title

"NASA's Mars 2020 Rover Goes Coast-to-Coast to Prep for Launch"

In [71]:
news_p

"The agency's first step in returning rocks from Mars just arrived at Kennedy Space Center. The Mars 2020 team now begins readying for a launch to the Red Planet this July."

### JPL Mars Space Images - Featured Image

In [94]:
space_images_url = 'https://spaceimages-mars.com/'

html = browser.html
soup = bs(html, 'html.parser')

In [95]:
browser.visit(space_images_url)
time.sleep(2)

In [102]:
relative_image_path = soup.find_all('img')[1]["src"]
feature_img = space_images_url + relative_image_path

In [103]:
feature_img

'https://spaceimages-mars.com/image/featured/mars2.jpg'

### Mars Facts

In [114]:
mars_facts_url = 'https://galaxyfacts-mars.com/'

In [115]:
facts_df = pd.read_html(mars_facts_url, header=0)[0]

facts_df

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C

In [116]:
facts_html = facts_df.to_html()

facts_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

### Mars Hemispheres

In [117]:
astrogeology_url = 'https://marshemispheres.com/'

html = browser.html
soup = bs(html, 'html.parser')

In [118]:
browser.visit(astrogeology_url)
time.sleep(2)

In [123]:
hemisphere_image_urls = []
results = soup.find_all('div', class_='item')


for result in results:
    hemisphere_url = 'https://marshemispheres.com/'
    title = result.find('h3').text
    img_url = result.find('img')[0]['src']
    
    hemisphere_data = {
        "title": title,
        "img_url": img_url
    }
    
    hemisphere_image_urls.append(hemisphere_data)
    
    print('-----------------')
    print(title)
    print(img_url)

In [124]:
hemisphere_image_urls

[]

In [127]:
for result in results:
    print(result)

In [ ]:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": "..."},
    {"title": "Cerberus Hemisphere", "img_url": "..."},
    {"title": "Schiaparelli Hemisphere", "img_url": "..."},
    {"title": "Syrtis Major Hemisphere", "img_url": "..."},
]

In [64]:
browser.quit()